body {
  margin: 0;
  background: linear-gradient(to bottom, #9abcf1, #6aaaf3, #9aaaf1);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif, monospace;
  color: #fff;
}